{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "actions": "../src/actions",
        "components": "../src/components",
        "stores": "../src/stores",
        "styles": "../src/styles"
      }
    }]
  ]
}
