/* Egg Magic */

@import '_variables'; // Variables (colors, layout, spacing & typography)

/* Custom font for headlines */
@import 'partials/_font';
@include font('Circular', 'assets/fonts/Circular-Black', 900);
$headline: 'Circular', -apple-system, 'Avenir next', Avenir, Roboto, Noto, 'Helvetica neue', Helvetica, Arial, Sans-serif;

@import '_defaults'; // Styling defaults
@import 'partials/_dropdown';
@import 'partials/_modal';
@import 'partials/_loading';
// @import 'partials/_notifications';

/* Custom */

@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

$width: 1080px;

body {
  background: #FFF;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.button {
  font-family: $headline;
}

.wrapper {
  margin: 0 auto;
  max-width: $width;
  width: 90%;
}

#header {
  @include background-image(linear-gradient(shade(mix($blue, $purple, 70%), 10%), $blue));
  .header {
    @include clearfix;
    padding: $space 0 0;
    a {
      color: #FFF;
    }
    .logo {
      float: left;
      font-family: 'Circular';
      @include font-size($large);
      font-weight: 900;
      &:hover {
        text-decoration: none;
      }
    }
    .links {
      float: right;
      a {
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        display: inline-block;
        margin-left: $space;
        @include transition-property(border);
        @include transition-duration($ease);
        &:hover {
          border-bottom-color: rgba(255, 255, 255, 0.6);
          text-decoration: none;
        }
        &.signup {
          background: #FFF;
          border-radius: $radius;
          color: shade($blue, 30%);
          margin-left: $space/2;
          padding: $space/4 $space/2;
          @include transition-property(transform);
          @include transition-duration($ease);
          &:hover {
            @include transform(scale(1.05));
          }
        }
      }
    }
  }
  .hero {
    margin: 0 auto;
    max-width: 900px;
    overflow: hidden;
    padding: 4*$space 0 2*$space;
    h1,
    h1 + p {
      color: #FFF;
      text-shadow: 0 1px 4px rgba(0,0,0,0.2);
    }
    h1 {
      @include font-size($humongous);
      line-height: 120%;
    }
    h1 + p {
      @include font-size($large);
      line-height: 140%;
    }
  }
  .screenshots {
    display:block;
    overflow: hidden;
    position: relative;
    img {
      bottom: -5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.4);
      display: block;
    }
    .github,
    .website {
      position: absolute;
      width: 33.33%;
    }
    .github {
      left: 3%;
    }
    .website {
      right: 3%;
    }
    .cms {
      margin: 0 auto;
      position: relative;
      width: 50%;
    }
  }
}

$narrow: 600px;

#content {
  strong {
    font-family: $headline;
    font-weight: 900;
  }
  .section {
    padding: 2*$space 0;
    .header {
      margin: 0 auto;
      max-width: $narrow;
      h2 {
        border-bottom: 4px solid $light;
        display: inline-block;
        & + p {
          @include font-size($larger);
        }
        u {
          color: $blue;
          text-decoration: none;
        }
      }
    }
    .footer {
      color: $grey;
      @include font-size($smaller);
    }
    &.users {
      background: $background;
      padding-bottom: 0;
      .header {
        margin-bottom: 2*$space;
      }
      .body {
        @include clearfix;
        ul,
        li {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        ul {
          float: left;
          width: 50%;
        }
        li {
          box-sizing: border-box;
          float: left;
          padding: $space;
          text-align: center;
          width: 33.33%;
          img {
            @include filter(grayscale(100%));
            display: block;
            height: 1.5*$space;
            margin: 0 auto;
            opacity: 0.8;
          }
          &.active {
            img {
              @include filter(grayscale(0%));
              opacity: 1;
            }
          }
        }
        .preview {
          box-sizing: border-box;
          float: right;
          overflow: hidden;
          padding: 0 $space/2;
          position: relative;
          width: 50%;
          img {
            bottom: -$space;
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
            display: block;
          }
        }
      }
    }
    &.features {
      border-bottom: 1px solid $line;
      .header {
        margin-bottom: 2*$space;
      }
      ul,
      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      ul {
        @include clearfix;
      }
      li {
        box-sizing: border-box;
        float: left;
        padding: $space/2;
        text-align: left;
        width: 33.33%;
        h3 {
          margin-bottom: $space/2;
        }
        &.soon {
          h3 {
            &:after {
              background: $green;
              border-radius: $radius;
              color: #FFF;
              content: 'Soon';
              font-family: $body;
              @include font-size($small);
              margin-left: $space/4;
              padding: $space/12 $space/6;
              vertical-align: text-bottom;
            }
          }
        }
      }
    }
    &.pricing {
      .body {
        @include clearfix;
        margin: 0 auto;
        max-width: 840px;
        padding: $space 0;
      }
      .plan {
        border-right: 1px solid $light;
        box-sizing: border-box;
        float: left;
        padding: $space;
        width: 33.33%;
        &:last-child {
          border: 0;
        }
        h3 {
          margin-bottom: $space/2;
          padding-left: $space/2;
        }
        ul {
          list-style: none;
          margin: 0 0 $space/2;
          padding: $space/2;
        }
        .button {
          @include font-size($larger);
          padding: $space/2;
          width: 100%;
        }
      }
    }
  }
}

#footer {
  background: $light;
  color: $grey;
  @include font-size($smaller);
  padding: $space 0;
  text-align: left;
  a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      color: $black;
      text-decoration: none;
    }
  }
  .links {
    float: right;
    a {
      margin-left: $space;
    }
  }
}
