/* Colors */

$black: #343c46;
$blue: #0A93FF;
$primary: $blue;
$red: #FC255D;
$background: #eee;
$light: #f4f4f4;

$shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

/* Fonts */

@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';

$body: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headline: $body;

/* Layout */

$width-body: 864px;

/* Partials */

$partials: (
  base,
  button,
  form,
  menu,
  modal,
  tooltip
);
