input:not([type=submit]),
textarea {
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0 inset;
}

.select select {
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0;
}

.button {
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0;
  font-weight: normal;
}

.icon {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  @include tooltip;
}

#header {
  background: $black;
  border-bottom: 1px solid shade($black, 20%);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  @include clearfix;
  color: #FFF;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  > * {
    &:hover  {
      background: shade($black, 10%);
    }
  }
  svg {
    fill: #FFF;
    height: 1.5*$space/2;
    width: 1.5*$space/2;
  }
  img {
    height: 1.5*$space/2;
  }
  .logo {
    padding: $space/3 $space/3 ($space/3-2) 1.5*$space/3;
  }
  .logo,
  .repo,
  .branch,
  .settings {
    border-right: 1px solid shade($black, 20%);
    float: left;
  }
  .repo,
  .branch,
  .settings {
    svg {
      margin-right: $space/4;
    }
  }
  .repo,
  .branch {
    @include tooltip(bottom, shade($black, 10%));
    span {
      font-weight: normal;
    }
  }
  .repo,
  .profile,
  .branch,
  .settings {
    color: inherit;
    display: block;
    opacity: 0.5;
    padding: $space/3 1.5*$space/3;
    @include transition-property(opacity);
    @include transition-duration($ease);
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
    svg,
    img {
      float: left;
      margin-top: 1px;
    }
  }
  .profile {
    border-left: 1px solid shade($black, 20%);
    float: right;
    img {
      border-radius: $radius;
      margin-right: $space/3;
    }
  }
  .branch {
    padding-bottom: $space/12;
    padding-right: 0;
  }
  .select {
    display: inline-block;
    margin-top: -$space/6;
    select {
      background: none;
      border-color: transparent;
      min-height: 32px; // HACK!!!! Dunno why but from Google Chrome 53, select is effed up
      padding-left: 0;
      &:hover,
      &:active,
      &:focus {
        background: none;
      }
    }
  }
}

#menu,
#navigation {
  bottom: 0;
  color: #FFF;
  position: fixed;
  top: $header;
  .button {
    padding: $space/12 $space/3;
  }
  input {
    background: rgba(0, 0, 0, 0.1);
    padding: $space/12 $space/3;
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    &:focus {
      background: #FFF;
      color: $black;
    }
  }
  svg {
    display: block;
    fill: #FFF;
    height: 1.5*$space/2;
  }
  h2,
  h3 {
    color: inherit;
    line-height: 160%;
    margin: 0;
  }
  > * {
    > h3 {
      @include font-size($pico);
      letter-spacing: 1px;
    }
    > a {
      color: inherit;
      display: block;
      &:hover,
      &.active {
        text-decoration: none;
      }
    }
  }
}

#menu {
  background: $black;
  box-shadow: 10px 0 0 rgba(0, 0, 0, 0.1);
  left: 0;
  width: $menu;
  .body {
    height: 100%;
    overflow: auto;
    padding-top: $space/6;
    h3 {
      padding: $space/3 1.5*$space/3;
      opacity: 0.4;
    }
    img {
      border-radius: $radius;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
      float: left;
      height: $space;
      margin: (-$space/12) $space/4 0 0;
    }
    > a {
      border-left: 2px solid transparent;
      color: inherit;
      cursor: pointer;
      display: block;
      opacity: 0.5;
      padding: $space/3 1.5*$space/3 $space/3 (1.5*$space/3 - 2);
      @include transition-property(opacity);
      @include transition-duration($ease);
      svg,
      img {
        float: left;
        margin: 1px $space/8 0 0;
      }
      &:hover,
      &.active {
        opacity: 1;
        text-decoration: none;
      }
      &.active {
        border-color: $blue;
      }
    }
  }
  .footer {
    background: $black;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    bottom: 0;
    @include clearfix;
    position: fixed;
    text-align: center;
    width: $menu;
    > * {
      box-sizing: border-box;
      color: #FFF;
      cursor: pointer;
      display: block;
      float: left;
      @include font-size($micro);
      opacity: 0.5;
      padding: $space/2 0 $space/3;
      width: 50%;
      @include transition-property(opacity);
      @include transition-duration($ease);
      &:hover {
        opacity: 1;
        text-decoration: none;
      }
      svg,
      img {
        display: block;
        height: $space;
        margin: 0 auto $space/6;
      }
    }
  }
}

#navigation {
  background: tint($black, 7%);
  left: $menu;
  overflow: auto;
  width: $navigation;
  .header {
    border-bottom: 1px solid shade($black, 10%);
    @include font-size($small);
    padding: $space/3 $space/2;
    input {
      border-color: $black;
      border-radius: $space;
      padding: $space/12 $space/2;
    }
    .controls {
      float: right;
    }
  }
  .body {
    a {
      border-bottom: 1px solid $black;
      padding: $space/3 $space/2;
      h2 {
        opacity: 0.5;
      }
      small {
        opacity: 0.25;
      }
      &.active {
        background: $blue;
      }
      &.active,
      &:hover {
        h2 {
          opacity: 1;
        }
        small {
          opacity: 0.5;
        }
      }
    }
    h2 {
      font-size: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

$sidebar: 288px;

#content {
  background: $background;
  margin-left: $menu + $navigation;
  padding-top: $header;
  &.loading:after {
    left: $menu + $navigation;
    position: fixed;
  }
  input:not([type=submit]),
  textarea,
  .select select {
    width: 100%;
  }
  .select select {
    min-height: 32px; // HACK!!!! Dunno why but from Google Chrome 53, select is effed up
  }
  .description {
    color: tint($black, 40%);
  }
  .sidebar {
    bottom: 0;
    box-sizing: border-box;
    @include clearfix;
    overflow: auto;
    padding: $space 1.5*$space $space $space;
    position: fixed;
    right: 0;
    top: $header;
    width: $sidebar;
    & + .body {
      padding-right: $sidebar;
    }
    input,
    .primary,
    .select,
    .select select {
      width: 100%;
    }
    .switch {
      float: right;
      & + label {
        margin: 0 $space/2 0 0;
      }
    }
    .primary {
      margin-bottom: $space/2;
    }
    .danger {
      background: transparent;
      border: 0;
      float: right;
      line-height: 1;
      outline: none;
      padding: 0;
      position: relative;
      @include tooltip();
      vertical-align: middle;
      @include tooltip(bottom);
      svg {
        fill: rgba(0, 0, 0, 0.2);
        @include transition-property(fill);
        @include transition-duration($ease);
      }
      &:hover {
        svg {
          fill: $red;
        }
      }
    }
  }
  .body {
    box-sizing: border-box;
    padding: $space 1.5*$space;
  }
}

/* The switch - the box around the slider */
$switch_size: 12px;
$switch_padding: 4px;

.switch {
  float: left;
  height: $switch_size + 2*$switch_padding;
  margin: 0;
  opacity: 1;
  position: relative;
  width: 2*$switch_size + 2*$switch_padding;
  input {
    display: none;
    &:checked + .slider {
      background: $blue;
    }
    &:checked + .slider:before {
      @include transform(translateX($switch_size));
    }
  }
  .slider {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    border-radius: 2*$switch_size;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    @include transition-duration($ease);
    &:before {
      background: #FFF;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      bottom: $switch_padding;
      content: '';
      height: $switch_size;
      left: $switch_padding;
      position: absolute;
      width: $switch_size;
      @include transition-duration($ease);
    }
  }
  & + label {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 $space/3;
    vertical-align: bottom;
  }
}

#modal {
  .search {
    position: relative;
    svg {
      fill: $grey;
      left: $space/3;
      position: absolute;
      top: $space/6;
    }
    input {
      background: $background;
      border-radius: $space;
      padding-left: 4*$space/3;
      padding-right: $space/2;
      width: 100%;
      &:focus {
        & + svg {
          fill: $blue;
        }
      }
    }
  }
  .default,
  .empty {
    background: $background;
    border-radius: $radius;
    color: $grey;
    margin-top: $space/2;
    padding: $space/2 1.5*$space/2;
    text-align: center;
  }
  .results {
    list-style: none;
    margin: $space/2 0 0;
    li {
      border: 1px solid $line;
      border-radius: $radius;
      box-shadow: $shadow;
      cursor: pointer;
      margin-bottom: $space/3;
      padding: $space/2 1.5*$space/2;
      &:last-child {
        margin: 0;
      }
      &:hover {
        border-color: $blue;
      }
    }
    h3 {
      font-size: inherit;
      font-weight: bold;
      margin: 0;
      text-transform: none;
    }
    .type {
      background: $background;
      border-radius: $radius;
      color: $grey;
      @include font-size($small);
      font-weight: normal;
      padding: $space/12 $space/4;
      &.private {
        background: $blue;
        color: #FFF;
      }
    }
    small {
      color: $grey;
    }
  }
}
