$box: 264px;

.box {
  bottom: 0;
  margin: auto;
  position: absolute;
  display: table;
  height: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  width: 12*$space;
  .logo {
    display: inline-block;
    margin-bottom: $space/2;
    width: 4*$space;
  }
  .card {
    background: #FFF;
    border: 1px solid $line;
    border-radius: $radius;
    box-shadow: $shadow;
    padding: $space/2;
    .button {
      @include font-size($larger);
      line-height: 160%;
      padding: $space/3;
      width: 100%;
    }
  }
  small {
    color: $grey;
    display: block;
    @include font-size($pico);
    letter-spacing: 1px;
    margin-top: $space/4;
    text-align: center;
    text-transform: uppercase;
    a {
      border-bottom: 1px solid $line;
      color: inherit;
      &:hover {
        color: $black;
        text-decoration: none;
      }
    }
  }
}
