#modal {
  .header {
    .close {
      svg {
        fill: $grey;
      }
      &:hover {
        svg {
          fill: $black;
        }
      }
    }
  }
  .search {
    position: relative;
    svg {
      fill: $grey;
      left: $space/3;
      position: absolute;
      top: $space/6;
    }
    input {
      background: $background;
      border-radius: $space;
      padding-left: 4*$space/3;
      padding-right: $space/2;
      width: 100%;
      &:focus {
        & + svg {
          fill: $blue;
        }
      }
    }
  }
  .default,
  .empty {
    background: $background;
    border-radius: $radius;
    color: $grey;
    margin-top: $space/2;
    padding: $space/2 1.5*$space/2;
    text-align: center;
  }
  .list li,
  .selected {
    padding: $space/2 1.5*$space/2;
    h3 {
      margin: 0;
      text-transform: none;
    }
    .type {
      background: $background;
      border-radius: $radius;
      color: $grey;
      @include font-size($small);
      font-weight: normal;
      padding: $space/12 $space/4;
      &.info {
        background: $blue;
        color: #FFF;
      }
      &.ok {
        background: $green;
        color: #FFF;
      }
      &.warning {
        background: $orange;
        color: #FFF;
      }
    }
    small {
      color: $grey;
    }
  }
  .list {
    box-shadow: $shadow;
    cursor: pointer;
    list-style: none;
    margin-left: 0;
    li {
      border: 1px solid $line;
      border-width: 1px 1px 0;
      margin-bottom: 0;
      &:first-child {
        border-radius: $radius $radius 0 0;
      }
      &:last-child {
        border-radius: 0 0 $radius $radius;
        border-width: 1px;
      }
      &:hover,
      &.active {
        border-color: $blue;
        & + li {
          border-top-color: $blue;
        }
      }
    }
  }
  .selected {
    background: $light;
    border: 1px solid $line;
    border-radius: $radius;
    box-shadow: $shadow;
    margin-bottom: $space/2;
  }
  .results {
    margin: $space/2 0 0;
  }
  .branches li {
    cursor: default;
    padding: 0;
    h3 {
      cursor: pointer;
      padding: $space/2 1.5*$space/2;
      small {
        color: $grey;
        font-size: inherit;
        font-weight: normal;
      }
    }
    .details {
      background: $light;
      display: none;
      .setting {
        border-top: 1px solid $line;
        padding: $space/2 1.5*$space/2;
        .field:last-child {
          margin: 0;
        }
        textarea {
          max-width: 100%;
          width: 100%;
        }
      }
    }
    &.active {
      .details {
        display: block;
      }
    }
  }
}
