$panel: 240px;

#content {
  background: $background;
  padding: $space;
  input:not([type=submit]),
  textarea,
  .select select {
    width: 100%;
  }
  .description {
    color: tint($black, 40%);
  }
  .header {
    background: #FFF;
    border-bottom: 1px solid $line;
    padding: $space 1.5*$space;
  }
  .sidebar {
    float: right;
    position: fixed;
    right: $space;
    width: $panel;
    .select,
    .select select {
      width: 100%;
    }
    & + .body {
      margin-right: $panel;
      padding-right: $space;
    }
    .save {
      width: $panel - 32px;
    }
    .menu {
      .button {
        padding-left: $space/4;
        padding-right: $space/4;
      }
      .options {
        left: auto;
        right: 0;
        .danger {
          color: $red;
          &:hover {
            background: $red;
            color: #FFF;
          }
        }
      }
    }
  }
  .body {
    box-sizing: border-box;
  }
  .empty {
    background: #FFF;
    border: 1px solid $line;
    border-radius: $radius;
    box-shadow: $shadow;
    box-sizing: border-box;
    bottom: 0;
    margin: auto;
    padding: $space/2 1.5*$space/2;
    position: absolute;
    display: table;
    height: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    width: 240px;
    h2,
    p {
      margin-bottom: $space/2;
    }
    p {
      @include font-size($smaller);
      line-height: 160%;
    }
    .button {
      width: 100%;
    }
    small {
      display: block;
      @include font-size($smaller);
      margin-top: $space/4;
    }
  }
}
