$panel: 240px;

#content {
  background: #FFF;
  border-radius: $radius;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  margin: $space auto;
  max-width: $width-body;
  .header {
    border-bottom: 1px solid $line;
    box-sizing: border-box;
    padding: $space/2 1.5*$space/2;
    .search {
      display: inline-block;
      .menu {
        float: left;
        > .button {
          border-radius: $radius 0 0 $radius;
          border-right: 0;
        }
      }
      input {
        border-radius: 0 $radius $radius 0;
      }
    }
    .filters {
      display: block;
      @include clearfix;
      @include font-size($small);
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        background: tint($blue, 90%);
        border: 1px solid tint($blue, 80%);
        border-radius: $radius;
        color: $blue;
        display: block;
        float: left;
        line-height: 1;
        margin: $space/4 $space/4 0 0;
        padding: $space/4;
        .remove {
          display: inline-block;
          margin: -$space/4;
          margin-left: 0;
          padding: $space/4 $space/6;
          svg {
            fill: tint($blue, 60%);
            height: $space/2;
            @include transition-property(fill);
            @include transition-duration($ease);
            vertical-align: bottom;
            width: $space/2;
          }
          &:hover {
            svg {
              fill: $blue;
            }
          }
        }
      }
    }
    .controls {
      float: right;
      .edit {
        display: inline-block;
        color: $grey;
        float: left;
        @include font-size($small);
        margin-right: $space/2;
        padding: ($space/6 + 1) 0;
        &:hover {
          color: $blue;
          text-decoration: none;
        }
      }
      .bundle {
        .menu {
          float: left;
        }
      }
      .options {
        left: auto;
        right: 0;
      }
    }
  }
  .body {
    padding: 1.5*$space/2;
    input:not([type=submit]),
    textarea,
    .select select {
      width: 100%;
    }
    .field {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .file-picker {
      display: inline-block;
      position: relative;
      width: 100%;
      .button,
      input:focus + .button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
      input:hover + .button {
        border-color: shade($line, 20%);
      }
      input:focus + .button {
        @include button($primary);
        fill: #FFF;
        padding-left: $space/3;
        padding-right: $space/3;
      }
    }
    .format {
      @include font-size($small);
      float: right;
      > a {
        color: inherit;
        svg {
          height: $space/2;
          vertical-align: text-top;
          width: $space/2;
        }
        &:hover {
          color: $blue;
          text-decoration: none;
        }
      }
      .options {
        left: auto;
        right: 0;
      }
    }
    &.empty {
      background-color: $light;
      color: $grey;
      text-align: center;
    }
    &.list {
      padding: 0;
      a {
        border-top: 1px solid $line;
        color: inherit;
        @include clearfix;
        display: block;
        line-height: 1;
        padding: 1.5*$space/2;
        @include transition-property(background);
        @include transition-duration($ease);
        &:hover {
          background: $light;
          text-decoration: none;
        }
        &:first-child {
          border: 0;
        }
        h2,
        .meta {
          box-sizing: border-box;
          color: inherit;
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        h2 {
          margin-bottom: $space/3;
        }
        .meta {
          color: $grey;
          strong {
            color: tint($purple, 40%);
            @include font-size($micro);
            font-weight: normal;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
