#header {
  background: $black;
  border-bottom: 1px solid shade($black, 40%);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  @include clearfix;
  .navigation {
    float: right;
    .item {
      border-left: 1px solid shade($black, 40%);
      border-right: 0;
    }
    .menu {
      .options {
        left: auto;
        right: 0;
      }
    }
  }
  .menu {
    float: left;
    .options {
      .header {
        @include font-size($smaller);
        padding: $space/3 $space/2;
        .search {
          display: inline-block;
          position: relative;
          width: 100%;
          input {
            box-sizing: border-box;
            padding: $space/12 $space/4;
            padding-left: $space;
            width: 100%;
          }
          svg {
            fill: $grey;
            height: 1.5*$space/2;
            left: $space/4;
            position: absolute;
            top: $space/4;
            width: 1.5*$space/2;
          }
        }
      }
    }
  }
  .item {
    border-right: 1px solid shade($black, 40%);
    color: #FFF;
    display: block;
    float: left;
    opacity: 0.6;
    padding: $space/3 1.5*$space/3;
    @include transition-property(opacity);
    @include transition-duration($ease);
    &:hover {
      background: shade($black, 10%);
      opacity: 1;
      text-decoration: none;
    }
    &.active {
      opacity: 1;
    }
    img,
    svg {
      display: inline-block;
      fill: #FFF;
      height: 1.5*$space/2;
      vertical-align: text-top;
      width: 1.5*$space/2;
    }
    svg {
      margin-right: $space/8;
    }
  }
  .logo {
    .options {
      .header {
        line-height: 1;
        text-align: center;
        img {
          height: $space;
          margin-bottom: $space/6;
        }
        small {
          color: $grey;
          white-space: nowrap;
        }
      }
    }
  }
  .pro {
    .item > a svg {
      margin-right: 0;
    }
  }
}
