#modal {
  .header,
  .footer {
    padding: $space/2 1.5*$space/2;
    .controls {
      float: right;
    }
  }
  .header {
    .close {
      svg {
        fill: $grey;
        @include transition-property(fill);
        @include transition-duration($ease);
      }
      &:hover {
        svg {
          fill: $black;
        }
      }
    }
  }
  .footer {
    border-top: 1px solid $line;
  }
  &.file-picker {
    .breadcrumb {
      background: $light;
      border-bottom: 1px solid $line;
      color: $grey;
      @include font-size($small);
      line-height: 140%;
      padding: $space/3 1.5*$space/2;
      a {
        color: $black;
        @include transition-property(color);
        @include transition-duration($ease);
        svg {
          fill: $black;
          height: 2*$space/3;
          vertical-align: text-bottom;
          width: 2*$space/3;
          @include transition-property(fill);
          @include transition-duration($ease);
        }
        &:hover {
          color: $blue;
          text-decoration: none;
          svg {
            fill: $blue;
          }
        }
      }
    }
    .body {
      padding: 0;
      ul {
        list-style: none;
        margin: 0;
        li {
          margin: 0;
          padding: 0;
          &:last-child {
            a {
              border-bottom: 0;
            }
          }
          a {
            border-bottom: 1px solid $light;
            color: inherit;
            display: block;
            padding: $space/3 1.5*$space/2;
            &:hover {
              background: $light;
              text-decoration: none;
            }
            &:active,
            &.active {
              background: $blue;
              color: #FFF;
              svg {
                fill: tint($blue, 80%);
              }
            }
          }
          svg {
            fill: $grey;
            height: 1.5*$space/2;
            vertical-align: text-top;
          }
        }
      }
    }
    .footer {
      .confirm-filename,
      .confirm-destination {
        box-sizing: border-box;
        float: left;
        width: 50%;
        input {
          width: 100%;
        }
      }
      .confirm-filename {

        padding-right: $space/2;
      }
      .confirm-destination {
        padding-left: $space/2;
      }
    }
  }
}
