#sidebar {
  border-right: 1px solid $line;
  box-sizing: border-box;
  .header {
    border-bottom: 1px solid $line;
    @include font-size($smaller);
    padding: $space/3 $space/2;
    .controls {
      float: right;
    }
    .button {
      padding: $space/12 $space/2;
      &.icon {
        padding-left: $space/4;
        padding-right: $space/4;
      }
    }
    .search {
      display: inline-block;
      position: relative;
      width: 50%;
      input {
        box-sizing: border-box;
        padding: $space/12 $space/4;
        padding-left: $space;
        max-width: 100%;
      }
      svg {
        fill: $grey;
        height: 1.5*$space/2;
        left: $space/4;
        position: absolute;
        top: $space/4;
        width: 1.5*$space/2;
      }
    }
    .filters {
      @include font-size($small);
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin: $space/2 $space/4 0 0;
        svg {
          fill: $black;
          height: $space/2;
          width: $space/2;
        }
      }
    }
  }
  .tree {
    ul {
      list-style: none;
    }
  }
  .list {
    a {
      border-bottom: 1px solid $line;
      display: block;
      line-height: 1;
      padding: 1.5*$space/2 $space/2;
      @include transition-property(background);
      @include transition-duration($ease);
      &.active {
        border-left: 4px solid $primary;
      }
      &:hover,
      &.active {
        background: #FFF;
        text-decoration: none;
      }
    }
    h2 {
      font-size: inherit;
      margin-bottom: $space/6;
    }
    small {
      color: $grey;
    }
    h2,
    small {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
