---
---

// Loading normalize & bourbon, you could load them from somewhere else
@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../bower_components/normalize-scss/_normalize';

/*** VARIABLES (colors, layout, spacing & typography) ***/

@import '../bower_components/egg/_variables';
@import '_variables';

/*** MIXINS ***/

@import '../bower_components/egg/modules/_font-size';
@import 'modules/_button';
@import '../bower_components/egg/modules/_arrow';
@import '../bower_components/egg/modules/_tooltip';
@import '../bower_components/egg/modules/_responsive';
@import '../bower_components/egg/modules/_dropdown';


/*** PARTIALS ***/

@import '../bower_components/egg/partials/_base';
@import '../bower_components/egg/partials/_button';
@import '../bower_components/egg/partials/_form';
@import '../bower_components/egg/partials/_modal';
@import '../bower_components/egg/partials/_menu';
@import '../bower_components/egg/partials/_tooltip';

/*** CUSTOM ***/

$menu: 144px;
$sidebar: 25%;
$header: 42px;

html,
body {
  height: 100%;
}

// body {
//   @include font-size($smaller);
// }

h1 {
  @include font-size($larger);
}

h2 {
  @include font-size($regular);
}

h3,
h4,
h5,
h6 {
  @include font-size($smaller);
  text-transform: none;
}

input:not([type=submit]),
textarea {
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0 inset;
}

.select select {
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0;
  min-height: 35px; // HACK!!!! Dunno why but from Google Chrome 53, select is effed up
}

.button {
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0;
  font-weight: normal;
  svg {
    display: inline-block;
    fill: #FFF;
    height: 1.5*$space/2;
    vertical-align: text-top;
    width: 1.5*$space/2;
  }
}

.icon {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  @include tooltip;
}

.menu {
  .options {
    a {
      svg {
        display: inline-block;
        fill: $black;
        height: 1.5*$space/2;
        margin-right: $space/6;
        width: 1.5*$space/2;
        vertical-align: text-bottom;
      }
      &:hover {
        svg {
          fill: #FFF;
        }
      }
      &.disabled {
        span,
        svg {
          opacity: 0.4;
        }
      }
    }
  }
}

@import 'partials/_loading';

.loading {
  @include loading;
}

#landing {
  @import 'partials/_landing';
}

#app {
  height: 100%;
  @import 'partials/app/_layout';
  @import 'partials/app/_header';
  @import 'partials/app/_sidebar';
  @import 'partials/app/_modal';
  @import 'partials/app/_content';
  @import 'partials/app/_preview';
}
