---
---

// Loading normalize & bourbon, you could load them from somewhere else
@import '../bower_components/bourbon/app/assets/stylesheets/_bourbon';
@import '../bower_components/normalize-scss/_normalize';

/*** VARIABLES (colors, layout, spacing & typography) ***/

@import '../bower_components/egg/_variables';
@import '_variables';

/*** MIXINS ***/

@import '../bower_components/egg/modules/_font-size';
@import '../bower_components/egg/modules/_button';
@import '../bower_components/egg/modules/_arrow';
@import '../bower_components/egg/modules/_tooltip';
@import '../bower_components/egg/modules/_responsive';
@import '../bower_components/egg/modules/_dropdown';


/*** PARTIALS ***/

@import '../bower_components/egg/partials/_base';
@import '../bower_components/egg/partials/_button';
@import '../bower_components/egg/partials/_form';
@import '../bower_components/egg/partials/_modal';
@import '../bower_components/egg/partials/_menu';
@import '../bower_components/egg/partials/_tooltip';

/*** CUSTOM ***/

$menu: 144px;
$navigation: 240px;
$header: 38px;

html,
body {
  height: 100%;
}

body {
  @include font-size($smaller);
}

h1 {
  @include font-size($larger);
}

h2 {
  @include font-size($regular);
}

h3 {
  @include font-size($smaller);
  font-weight: bold;
}

input:not([type=submit]),
textarea {
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0 inset;
}

.select select {
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0;
}

.button {
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0 0;
  font-weight: normal;
}

.icon {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  @include tooltip;
}

@import 'partials/_loading';

.loading {
  @include loading;
}

#landing {
  @import 'partials/_landing';
  display: none;
}

#app {
  @import 'partials/_app';
}
